/opencv4java/.idea/compiler.xml
/opencv4java/.idea/dbnavigator.xml
/opencv4java/.idea/libraries/Maven__com_huawei_l00379880_opencv_3_3_0.xml
/opencv4java/.idea/misc.xml
/opencv4java/.idea/modules.xml
/opencv4java/.idea/vcs.xml
/opencv4java/.idea/workspace.xml
/opencv4java/opencv4java.iml
